/* This is the style.css for HuRandom */


body {
    background-color: #111;
    height: 80%;
}

.metanav_hr {
    margin-top: 5px;
    text-align: right;
}

#header_hr {
    background-color: #2E6DA4;
    padding: 5px;
}

h1 {
    color: #FFF;
}

a:hover {
    color: #CCC;
}

#main_hr {
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-bottom: 25px;
    min-height: 100%;
}

#content_hr {
    padding-left: 17px;
    min-height: 100%;
}

#intro_hr {
    padding-top: 5px;
    margin-left: -12px;
    padding-bottom: -50px;
}

#number_hr {
}

#data_hr {
}

#submit_btn_hr {
    margin-top: 10px;
}

#results_hr {
    text-align: center;
    font-style: italic;
    text-decoration: bold;
}


#data_svg_hr {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#download_prompt_hr {
    margin-left: -30px;
}

#download_hr {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#footer_hr {
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    text-align: center;
    line-height: 50%;
    height: 20%;
}

#login_hr {
    padding-left: 17px;
}

.login_btn_hr {
    margin-top: 5px;
}

a {
    color: #FFF;
    text-decoration: none;
}

#top_hr {
    color: #EEE;
}

#chart_hr {
    margin: 10px;
}

.flash {
    text-align: right;
}

#admin_hr {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#admin_content_hr {
    margin-top: 10px;
    margin-bottom: 10px;
   
}

#login_hr {
    text-align: center;    
}

.page {
    height: 100%;
}

.flash {
    text-align: left;
}

