/* This is the style.css for HuRandom */


body {
    background-color: #333;
    height: 80%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 100;
    color: #666;
}

.metanav_hr {
    margin-top: 30px;
    text-align: right;
    padding-right: 5px;
    margin-bottom: -15px;
    text-align: center;
}

#header_hr {
    background-color: #0EC2D2;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 110px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h5 {
    font-size: 20px;
    text-align: right;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:hover {
    color: #666;
}

#main_hr {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-bottom: 25px;
    min-height: 100%;
}

#content_hr {
    padding-left: 17px;
    padding-right: 17px;
    min-height: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
}

#intro_hr {
    padding-top: 5px;
    margin-left: -12px;
    padding-bottom: -50px;
}

#number_hr {
    color: #111;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

#data_hr {
}

#submit_btn_hr {
    margin-top: 10px;
}

#results_hr {
    text-align: center;
    font-style: italic;
    text-decoration: bold;
}


#data_svg_hr {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#download_prompt_hr {
    margin-top: 15px;
    text-align: center;
    font-size: 35px;
}

#download_hr {
    width: 20%;
    margin-left: auto;
    margin-right: auto;

}

#footer_hr {
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #BBB;
    text-align: center;
    line-height: 50%;
    height: 20%;
}

#login_hr {
    padding-left: 17px;
}

.login_btn_hr {
    margin-top: 5px;
}

a {
    color: #FFF;
    text-decoration: none;
}

#top_hr {
    color: #FFF;
}

#chart_hr {
}

.flash {
    text-align: right;
}

#admin_hr {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

#admin_content_hr {
    margin-top: 10px;
    margin-bottom: 10px;
   
}

#login_hr {
    text-align: center;    
}

.page {
    height: 100%;
}

.flash {
    text-align: left;
}

#msg_hr {
    padding-right: 5px;
}

#desc_hr {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 25px;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

dt {
    font-size: 25px;
    text-align: center;
}

#thanks_hr {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#data_info_hr {
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 30px;
}

.main_link_hr {
    color:#000;
}

.main_link_hr:hover {
    color: #0EC2D2;
}

.about {
    margin-left: 30px;
    margin-right: 30px;
}

.about_title_hr {
    font-size: 60px;
}

.about_subtitle_hr {
}

.just_data_hr {
    margin-top: 10px;
    margin-left: -10px;
}

.alert_hr {
    text-align: center;
    font-size: 30px;
    color: #FFF;
    background-color: #D9534F;
}
