/* This is the style.css for HuRandom */


body {
    background-color: #111;
    height: 100%;
}

.metanav_hr {
    margin-left: 16px;
    margin-bottom: 0px;
    padding-top: 5px;
}

#meta_hr {
    height: 100%;
}

#header_hr {
    color: #FFF;
    background-color: #2E6DA4;
    padding: 5px;
}

#main_hr {
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-bottom: 25px;
    min-height: 100%;
}

#content_hr {
    padding-left: 17px;
    min-height: 100%;
}

#intro_hr {
    padding-top: 5px;
    margin-left: -12px;
    margin-bottom: -20px;
}

#number_hr {
}

#data_hr {
}

#submit_btn_hr {
    margin-top: 10px;
}

#results_hr {
    text-align: center;
    font-style: italic;
    text-decoration: bold;
}


#data_svg_hr {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#download_prompt_hr {
    margin: -30px;
}

#download_hr {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#footer_hr {
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    text-align: center;
}

#login_hr {
    padding-left: 17px;
}

.login_btn_hr {
    margin-top: 5px;
}

.flash {
    margin-left: 17px;   
    padding: 5px;
}

a {
    color: #FFF;
}

#top_hr {
    color: #EEE;
}
