{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <dt>Text:
                <dd><textarea name=text rows=5 cols=40></textarea>
                <dd><input type=submit value=Share>
            </dl>
        </form>
    {% endif %}
    <ul class=entries>
    {% for entries in entries %}
        <li> {{ entries.text|safe }}
    {% else %}
        <li><em>No.Wai. No.Entrie suh Ferr</em>
    {% endfor %}
    </ul>
{ % endblock %}
