# cp /path/to/config.py.dist /path/to/config.py
# edit config.py
# export HURANDOM_SETTINGS=/path/to/config.py
DATABASE = '/tmp/huRandom.db'
DEBUG = True
SECRET_KEY = 'asdf'
USERNAME = 'admin'
PASSWORD = 'password'
