{% extends "layout.html" %}
{% block body %}

<div id="admin_hr">

    <br>

    <h3>ADMIN'S ONLY CLUB</h3>

    <hr>

    <h4>Links</h4>

    <a href="{{ url_for('add_entry_page') }}" class="btn btn-default" type="button">Main</a>
    <a href="{{ url_for('goto_data') }}" class="btn btn-default" type="button">Data</a>
    <a href="{{ url_for('goto_about') }}" class="btn btn-default" type="button">About</a>
    <a href="{{ url_for('static', filename='hr_raw.csv') }}" class="btn btn-default" type="button">CSV</a>

    <hr>

    <h4>Current Chart</h4>

    <div id=chart_hr>
        {{ chart|safe }} 
    </div>

    <hr>

    <h4>Current Average</h4>

    <p id="data_info_hr">
        Average Random Number: {{ avg }}
    </p>

    <hr>

    <h4>Dataset</h4>

    <p>
        {{ entries }}
    <p> 

    <hr>

    <p>Congratulations on infiltrating the admin interface. Unfortunately there's not really any cool stuff to see here. Nothing to break, no databases to drop, just a cute gif of BEMO.</p>

    <br>

    <img src="http://gifs.elijahcaine.me/bemo.gif"></img>

</div>
    <br>

{% endblock %}
