{% extends "layout.html" %}
{% block body %}

    <div id="content_hr">
        <div id=chart_hr>
            {{ chart|safe }} 
        </div>

        <br>

        <div id="download_prompt_hr">
            <blockquote>
                <p>Download the Data:</p>
            </blockquote>
        </div>

        <div id="download_hr">
            <a href="{{ url_for('static', filename='hr_raw.csv') }}" type="button" class="btn btn-success btn-block">hr_data.csv</a>
        </div>


{% endblock %}
