{% extends "layout.html" %}
{% block body %}
    <div id="content_hr">
        <div class="row">

            <div class="col-md-8" id="number_hr">
                <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
                    <dl>
                        <strong><dt>Enter Your Random Number:</strong>
                        <dd><input type="text" name="user_input" class="form-control">
                        <dd><input type="submit" value="Submit" class="btn btn-primary btn-lg" id="submit_btn_hr">
                    </dl>
                </form>
            </div>

                <div class="col-md-4" id="number_hr">
                    <br>
                    <a href="{{ url_for('goto_data') }}" type="button" class="btn btn-danger btn-lg">No. Just the Data.</button></a>
                </div>

        </div>
    </div>

{% endblock %}
