<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div id="meta_hr">
            <div id="main_hr">
                <div id="header_hr">
                    <h1> HuRandom </h1>
                    <h5> A project by Elijah Caine about 'random' numbers </h5>
                </div>

                <div id="intro_hr">
                    <blockquote>
                        <p> HuRandom is a project developed by Elijah Caine to study the human
                        mind's ability to generate and comprehend 'random' numbers.</p>
                    </blockquote>
                </div>
                <div id="content_hr">
                    <h2 id="results_hr">
                        The Results
                    </h2>
                    <figure  id="data_svg_hr">
                        <embed type="image/svg+xml" src="foo.svg"/>
                    </figure>

                    <br>
                    <br>
                    <div id="download_prompt_hr">
                        <blockquote>
                            <p> Download the Data: </p>
                        </blockquote>
                    </div>
                    <div id="download_hr">
                        <button type="button" class="btn btn-success btn-block"> hr_data.csv </button>
                        <button type="button" class="btn btn-info btn-block"> hr_data.xml </button>
                    </div>
                </div>
            </div>
            <div id="footer_hr">
                <p>This is where I'll put links to the project's Github page and put legal info and whatever other credits.</p>
            </div>
        </div>
    </body>
</html>
